.add-task-btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;

    display: fixed;
    left: calc(50% - 60%);
    bottom: 20px;
    background: #2F80ED;
    cursor: pointer;
    transition: .5s all;
}

.add-task:hover {
    box-shadow: -3px -3px 26px 26px red;
}