.loading-message{
    font-size: 30px;
    color: #555;
    text-align: center;
    margin-top: 20px;
    animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}